{% load static%}
<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Configuration Compte Samba</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{% static 'Application/public/css/sb-admin-2.min.css' %}" rel="stylesheet">

		<style>
			.pulse-button {
					box-shadow: 0 0 0 0 #152733;
					cursor: pointer;
					-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
					-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
					-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
					animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
			}
			.pulse-button:hover 
			{
				-webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
			}

			@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);}}
			@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);}}
			@-ms-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);}}
			@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);}}
		</style>

	</head>

	<body name="{{csrf_token}}" class="bg-gradient-primary" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-12 col-md-9">
					<div class="card o-hidden border-0 shadow-lg my-5"  style="margin-top: 12% !important; border-radius: 0px 3px 3px 0px;" >
						<div class="card-body p-0">
							<div class="row">
								<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
									<div class="col-lg-6">
										<div class="p-5">
											<div class="text-center">
												<h1 class="h4 text-gray-900 mb-2" style="color: #152733 !important; font-weight: bold !important;  font-size: 24px;">SERVEUR STOCKAGE ESTI</h1>
												<p class="mb-4"> <br> Configuration de compte </p>
											</div>
											<form id="mail_space" class="user">
												<div class="form-group">
													<input type="email" style="margin: 10px" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Entrer votre email">
												</div>
												<a style="color: white; background-color: #152733 !important; border: #152733;  font-size: 15px;" onclick="verifier($(this))" class="btn btn-primary btn-user btn-block  pulse-button">
													<i class="fa fa-telegram" style="font-size: 20px;"></i> Envoyer
												</a>
											</form>
											<hr>
											<div class="text-center">
												<a class="small" href="#" style="color: #152733; font-weight: bold;">Vous rencontrez des problèmes ?</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="{% static 'Application/public/js/jquery.min.js' %}"></script>
			<script src="{% static 'Application/public/js/page.js' %}"></script>
			<script src="{% static 'Application/public/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'Application/public/js/jquery.easing.min.js' %}"></script>
			<script src="{% static 'Application/public/js/sb-admin-2.min.js' %}"></script>

	</body>
</html>